<app-navbar></app-navbar>
<app-sidebar></app-sidebar>



<div class="login-root">
  <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
    <div class="loginbackground box-background--white padding-top--64">
      <div class="loginbackground-gridContainer">
        <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
          <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
          <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
          <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
          <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
          <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
          <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
          <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
          <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
          <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
        </div>
      </div>
    </div>
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Let's create an event ! </a></h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Let's create an event !</span>
            <form id="stripe-login" [formGroup]="eventForm" (ngSubmit)="onSubmit()">

              <div class="field padding-bottom--24">
                <h1>
                  <label for="eventName">What event do you want with share to community ? </label>
                </h1>
                <input formControlName="eventName" id="eventName" required>
              </div>
              <div class="field padding-bottom--24">
                <div>
                  <h1>
                    <label for="startEvent">Please select the Start date of your event : </label>
                  </h1>
                  <input type="datetime-local" formControlName="startEvent" id="startEvent" required>
                </div>
              </div>
              <div class="field padding-bottom--24">
                <div>
                  <h1>
                    <label for="endEvent">And when does the event finish ? : </label>
                  </h1>
                  <input type="datetime-local" formControlName="endEvent" id="endEvent" required>
                </div>
              </div>

              <div class="field padding-bottom--24">
                <div formGroupName="location"> <!-- Ajout d'un group pour la localisation -->
                  <h1>
                    <label>Some information about location : </label>
                  </h1>
                  <div>
                    <label for="addressLine">Address Line:</label>
                    <input formControlName="addressLine" id="addressLine" required>
                  </div>
                  <div>
                    <label for="city">City:</label>
                    <input formControlName="city" id="city" required>
                  </div>
                  <div>
                    <label for="postalCode">Postal Code:</label>
                    <input formControlName="postalCode" id="postalCode" required>
                  </div>
                  <div>
                    <label for="country">Country:</label>
                    <input formControlName="country" id="country" required>
                  </div>
                </div>
              </div>


              <div class="field padding-bottom--24">
                <!-- <label for="email">Email</label>
                <input type="email" name="email"> -->
                <label for="description">Details about the event :</label>
                <textarea formControlName="description" class="form-control"  rows="8" cols="50"></textarea>
              </div>
              <div class="field">
                <a class="ssolink" href="/profile" (click)="onSubmit()" [class.disabled]="!eventForm.valid">Create your event</a>
                <!-- <button type="submit" [disabled]="!feedbackForm.valid" class="btn btn-primary">Submit Feedback</button> -->
              </div>
            </form>
          </div>
        </div>
        <div class="footer-link padding-top--24">
          <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
            <span><a href="/home">Go Home ?</a></span>
            <span><a href="/profile">Your event registration ?</a></span>
            <!-- <span><a href="#">Privacy & terms</a></span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="form-container">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()"> -->
    <!-- <div>
      <h1>
        <label for="eventName">Event Name:</label>
      </h1>
      <input formControlName="eventName" id="eventName" required>
    </div> -->
    <!-- <div>
      <h1>
        <label for="startEvent">Start Date:</label>
      </h1>
      <input type="datetime-local" formControlName="startEvent" id="startEvent" required>
    </div> -->
    <!-- <div>
      <h1>
        <label for="endEvent">End Date:</label>
      </h1>
      <input type="datetime-local" formControlName="endEvent" id="endEvent" required>
    </div> -->
    <!-- <div formGroupName="location">
      <h1>
        <label>Location:</label>
      </h1>
      <div>
        <label for="addressLine">Address Line:</label>
        <input formControlName="addressLine" id="addressLine" required>
      </div>
      <div>
        <label for="city">City:</label>
        <input formControlName="city" id="city" required>
      </div>
      <div>
        <label for="postalCode">Postal Code:</label>
        <input formControlName="postalCode" id="postalCode" required>
      </div>
      <div>
        <label for="country">Country:</label>
        <input formControlName="country" id="country" required>
      </div>
    </div> -->
    <!-- <div>
      <h1>  
        <label for="description">Description:</label>
      </h1>
      <textarea formControlName="description" id="description" required></textarea>
    </div>
    <button type="submit" [disabled]="!eventForm.valid">Create Event</button>
  </form>
</div> -->
