.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
nav {
  position: relative;
  z-index: 100;
  background: rgb(42, 46, 51);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligner les enfants verticalement */
  padding: 0 20px;
  background: rgb(42, 46, 51); /* Couleur de fond de la navbar */
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); /* Commence à droite, en dehors de la vue */
    opacity: 0;
  }
  100% {
    transform: translateX(0%); /* Termine à sa position originale */
    opacity: 1;
  }
}

.navbar-brand {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  text-align: center;
  font-style: italic;
  display: block; /* Assurez-vous que l'élément est un bloc pour l'animation */
  animation: slideInFromRight 0.5s ease-out forwards; /* Applique l'animation */
}

.navbar-brand:hover {
  color: #cccccc; /* Couleur au survol */
}

.nav-link {
  color: #dcdcdc; /* Couleur claire pour les liens */
  padding: 10px 15px; /* Espacement pour un meilleur toucher */
  transition: color 0.3s ease; /* Transition douce pour le changement de couleur */
  font-size: 1rem; /* Taille appropriée pour la lisibilité */
  font-weight: 500; /* Poids de la police pour une meilleure visibilité */
}

.nav-link:hover, .nav-link:focus {
  color: #ffffff; /* Couleur des liens au survol */
  background-color: rgba(255, 255, 255, 0.1); /* Léger fond au survol pour mettre en évidence */
  text-decoration: none; /* Retire le soulignement au survol */
}

.collapse.navbar-collapse {
    display: flex; /* Applique Flexbox */
    justify-content: flex-end; /* Aligner les éléments à droite */
    width: 100%; /* Assure que le container prend toute la largeur */
}


li {
  display: inline;
}


.skew1 {
  margin-top: -149px;
  background: rgb(42, 46, 51);
  height: 150px;
  transform: skewY(1.1deg);
  z-index: 90;
  position: relative;
}

.skew2 {
  margin-top: -139px;
  background: #29E1E3;
  height: 150px;
  transform: skewY(1.1deg);
  z-index: 80;
  position: relative;
}
.skew3 {
  margin-top: -140px;
  background: #57B9FF;
  height: 150px;
  transform: skewY(1.4deg);
  z-index: 70;
  position: relative;
}
.skew4 {
  margin-top: -142px;
  background: #B75EE2;
  height: 150px;
  transform: skewY(1.6deg);
  z-index: 60;
  position: relative;
}