.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
nav {
  position: relative;
  z-index: 100;
  background: rgb(42, 46, 51);
}

/* Style général pour la barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligner les enfants verticalement */
    padding: 0 20px;
}

.navbar-brand {
    color: #FFFFFF; /* Couleur du texte pour le nom de l'application */
    font-weight: bold; /* Rend le texte plus épais */
    font-size: 1.5rem; /* Taille du texte */
}

.navbar-toggler {
    border: none; /* Retire la bordure du bouton */
    background: none; /* Retire le fond par défaut pour la transparence */
}

/* Container pour les éléments de navigation */
.collapse.navbar-collapse {
    display: flex; /* Applique Flexbox */
    justify-content: flex-end; /* Aligner les éléments à droite */
    width: 100%; /* Assure que le container prend toute la largeur */
}

.nav-link:hover {
    color: #FFFFFF; /* Couleur des liens au survol */
    text-decoration: none; /* Retire le soulignement au survol */
}

li {
  display: inline;
}


.skew1 {
  margin-top: -149px;
  background: rgb(42, 46, 51);
  height: 150px;
  transform: skewY(1.1deg);
  z-index: 90;
  position: relative;
}

.skew2 {
  margin-top: -139px;
  background: #29E1E3;
  height: 150px;
  transform: skewY(1.1deg);
  z-index: 80;
  position: relative;
}
.skew3 {
  margin-top: -140px;
  background: #57B9FF;
  height: 150px;
  transform: skewY(1.4deg);
  z-index: 70;
  position: relative;
}
.skew4 {
  margin-top: -142px;
  background: #B75EE2;
  height: 150px;
  transform: skewY(1.6deg);
  z-index: 60;
  position: relative;
}