<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<section class="eventsHeader">
  <h1 id="pageTitle">Community Events</h1>
  <button id="createButton" type="button" class="btn" *ngIf="isLoggedIn()" routerLink="/events/add-event">Create a New Event for community !</button>
  <button id="loginButton" type="button" class="btn" *ngIf="!isLoggedIn()" (click)="redirectToLogin()">Log In to Create Events</button>
</section>

<div class="container">
  <div class="events-wrapper">
    <div *ngIf="events && events.length; else noEvents">
      <app-event-card *ngFor="let event of events" [event]="event"></app-event-card>
    </div>
    <ng-template #noEvents>
      <p class="no-events">No events available.</p>
    </ng-template>
  </div>
</div>
