  Espace entre la navbar et les cartes
  :host {
    display: block;
    padding-top: 70px;
    margin-bottom: 20px;
  }

  /* Style de la carte de l'événement */
  .event-card {
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #ffffff;
  }

  /* Titre de l'événement */
  .event-title {
    color: #333;
    font-size: 24px;
  }

  /* Sous-titre et métadonnées */
  .event-subtitle, .event-meta {
    font-size: 14px;
    color: #999;
    font-style: italic;
  }

  /* Contenu principal de la carte */
  .event-content {
    color: #666;
    font-size: 16px;
  }

  /* Actions comme les boutons */
  .event-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  /* Messages d'inscription */
  .registration-message {
    color: rgb(184, 80, 80);
    font-size: 14px;
    margin-top: 10px;
  }
  /* Position et style pour les dates */
  .event-dates {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color: #666;
  }

  /* Séparateur pour plus de clarté entre les dates */
  .date-separator {
    margin: 0 5px;
    color: #bbb; /* Couleur plus claire pour le séparateur */
  }

  .profile-icon {
    width: 30px;        /* Taille de l'icône */
    height: 30px;       /* Taille de l'icône */
    border-radius: 50%; /* Rend l'icône ronde */
    object-fit: cover;  /* Assure que l'image couvre bien la zone sans être déformée */
    margin-right: -10px; /* Chevauche les icônes précédentes */
    border: 2px solid white; /* Ajoute une bordure pour mieux distinguer les icônes chevauchées */
  }
  
  .more-registrants {
    font-size: 16px;
    line-height: 30px; /* Alignement vertical avec les icônes */
    color: #666;       /* Couleur du texte pour '+x' */
    background: white; /* Fond pour distinguer le texte si chevauchement */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;  /* Chevauche l'icône précédente */
  }
  
  
  .profile-icon-wrapper {
    position: relative;
    display: inline-block;
    margin-right: -10px;
  }
  
  .tooltip {
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .profile-icon-wrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
