<!-- <mat-card class="event-card">
  <span *ngIf="event.user" class="event-meta">Created by: {{ event.user.userName }}</span>
  <mat-card-header>
    <mat-card-title class="event-title">{{ event.eventName }}</mat-card-title>
    <mat-card-subtitle class="event-subtitle">{{ event.location }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="event-content">
      <p>{{ event.description }}</p>
      </mat-card-content>
      <mat-card-actions class="event-actions">
        <div *ngIf="registrationMessage" class="registration-message">{{ registrationMessage }}</div>
      <button mat-button (click)="registerForEvent()" [hidden]="isRegistered || !isLoggedIn()">Register</button>
        <div class="event-dates">
          <span><strong>Starts:</strong> {{ event.startEvent | date:'mediumDate' }}</span>
          <span class="date-separator">|</span>
          <span><strong>Ends:</strong> {{ event.endEvent | date:'mediumDate' }}</span>
        </div>
        
        <div class="registrants">
          <ng-container *ngFor="let registration of registrations; let i = index">
            <div class="profile-icon-wrapper" *ngIf="i < 3">
              <img src="/assets/default-profile.jpg" class="profile-icon" alt="Profile image">
              <span class="tooltip">{{ registration.user.userName }}</span>
            </div>
          </ng-container>
          <span *ngIf="registrations.length > 3" class="more-registrants">+{{ registrations.length - 3 }}</span>
        </div>
  </mat-card-actions>
</mat-card> -->

<article class="postcard dark" [ngClass]="getColorClass()">
  <a class="postcard__img_link" href="#">
    <img class="postcard__img" [src]="'https://picsum.photos/seed/' + imageSeed + '/1000/1000'" alt="Image Title" />
  </a>
  <div class="postcard__text">
    <h1 class="postcard__title" [ngClass]="getColorClass()"><a href="/profile">{{ event.eventName }}</a></h1>
    <p class="tag__item"><i></i>Created by : {{ checkMe(event.user.userName) }}</p>
    <div class="postcard__subtitle small">
      <time datetime="2020-05-25 12:00:00">
        <i class="fas fa-calendar-alt mr-2"></i>{{ event.startEvent | date:'mediumDate' }}
      </time>
      --
      <time datetime="2020-05-25 12:00:00">
        <i class="fas fa-calendar-alt mr-2"></i>{{ event.endEvent | date:'mediumDate' }}
      </time>
      <address>
        {{ event.location }}
      </address>
    </div>
    <div class="postcard__bar"></div>
    <div class="postcard__preview-txt">{{ event.description }}</div>
    <ul class="postcard__tagbox">
      <!-- Si l'utilisateur est enregistré à l'evenement et qu'il a encore lieu -->
      <div *ngIf="isPastEvent">
        <li class="tag__item play red">
          <a href="/profile" *ngIf="!isRegistered && isLoggedIn()" (click)="registerForEvent()"></a>
          <div *ngIf="registrationMessage" class="registration-message">{{ registrationMessage }}</div>
        </li>
        <li class="tag__item play yellow">
          <a [routerLink]="['/event-feedback', event.eventId]">See what community thought about this event !</a>
        </li>
      </div>
      <!-- Si l'utilisateur est enregistré dans une evenement et qu'il est terminé -->
      <div *ngIf="isRegistered && !isPastEvent">
        <li class="tag__item play blue">
          <a href="/profile" *ngIf="!isRegistered && isLoggedIn()" (click)="registerForEvent(); $event.preventDefault()"><i></i>Do you want to register ? -></a>
          <div *ngIf="registrationMessage" class="registration-message">{{ registrationMessage }}</div>  
        </li>
      </div>
      <!-- Si l'utilisateur n'est pas enregistré à l'evenement et qu'il a encore lieu -->
      <div *ngIf="!isRegistered && !isPastEvent">
        <li class="tag__item play green">
          <a href="/profile" *ngIf="!isRegistered && isLoggedIn()" (click)="registerForEvent(); $event.preventDefault()"><i></i>Do you want to register ? -></a>
          <div *ngIf="registrationMessage" class="registration-message">{{ registrationMessage }}</div>
        </li>
      </div>

    </ul>
    <div class="registrants">
      <ng-container *ngFor="let registration of registrations; let i = index">
        <div class="profile-icon-wrapper" *ngIf="i < 3">
          <img src="/assets/default-profile.jpg" class="profile-icon" alt="Profile image">
          <span class="tooltip">{{ registration.user.userName }}</span>
        </div>
      </ng-container>
      <span *ngIf="registrations.length > 3" class="more-registrants">+{{ registrations.length - 3 }}</span>
    </div>
  </div>
</article>