.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-content {
  width: 80%;
  max-width: 800px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-details {
  margin-bottom: 20px;
}

.registration-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #e57373;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d32f2f;
}


.organizer-badge {
  font-size: 14px;
  color: #828181;
  font-style: italic;
  display: inline-block;
  background-color: #c2ffc5; /* Green background */
  padding: 2px 8px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 12px;
}
