<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="profile-container">
  <div class="profile-content">
    <h1>User Profile</h1>
    <div *ngIf="currentUser" class="profile-details">
      <p><strong>Name:</strong> {{ currentUser.userName }}</p>
      <p><strong>Email:</strong> {{ currentUser.email }}</p>

      <h2>Your Ongoing Registrations</h2>
      <div *ngFor="let registration of registrations" class="registration-card">
        <h3>{{ registration.event.eventName }}</h3>
        <p><strong>Registration Date:</strong> {{ registration.registrationDate | date:'short' }}</p>
        <button mat-button (click)="deleteRegistration(registration.registrationId)">Delete Registration</button>
        <span *ngIf="isUserOrganizer(registration.event.user.userId)" class="organizer-badge">
          You organised it
        </span>
      </div>
      
      <ng-template #noOngoingRegistrations>
        <p>No ongoing registrations available.</p>
      </ng-template>

      <h2>Your Past Registrations</h2>
      <div *ngIf="pastRegistrations && pastRegistrations.length; else noPastRegistrations">
        <div *ngFor="let registration of pastRegistrations" class="registration-card">
          <h3>{{ registration.event.eventName }}</h3>
          <p><strong>Registration Date:</strong> {{ registration.registrationDate | date:'short' }}</p>
          <button mat-button (click)="redirectToFeedback(registration.event.eventId)">Give Feedback</button>
          <div *ngIf="feedbackMessages[registration.event.eventId]">
            {{ feedbackMessages[registration.event.eventId] }}
          </div>
        </div>
      </div>
      <ng-template #noPastRegistrations>
        <p>No past registrations available.</p>
      </ng-template>
    </div>
  </div>
</div>
