<aside class="sidebar mat-elevation-z8" [class.minify]="!isOpen">
   <div class="icon-block-lg right-al openButton" (click)="toggleSidebar()">
       <span class="material-icons sidebar-icon" [class.rotate]="!isOpen">navigate_before</span>
   </div>

   <div class="icon-block-lg" routerLink="/home" [routerLinkActive]="['isActive']" [routerLinkActiveOptions]="{exact: true}">
       <span class="material-icons sidebar-icon">home</span>
       <h4 class="icon-description" [class.hide]="!isOpen">Home</h4>
   </div>

   <div class="icon-block-lg" routerLink="/home" fragment="ongoingEvents">
        <span class="material-icons sidebar-icon">new_label</span>
        <h4 class="icon-description" [class.hide]="!isOpen">Ongoing Events</h4>
    </div>
    <div class="icon-block-lg" routerLink="/home" fragment="pastEvents">
        <span class="material-icons sidebar-icon">timer_off</span>
        <h4 class="icon-description" [class.hide]="!isOpen">Past Events</h4>
    </div>

   <div class="icon-block-lg" routerLink="/profile" [routerLinkActive]="['isActive']">
       <span class="material-icons sidebar-icon">supervised_user_circle</span>
       <h4 class="icon-description" [class.hide]="!isOpen"> User infos</h4>
   </div>
   <!-- Example for additional links that can be uncommented if needed -->
   
   <!-- <div class="icon-block-lg" routerLink="/newsfeed" [routerLinkActive]="['isActive']">
       <span class="material-icons sidebar-icon">textsms</span>
       <h4 class="icon-description" [class.hide]="!isOpen">News Feed</h4>
   </div>

   <div class="icon-block-lg" routerLink="/help" [routerLinkActive]="['isActive']">
       <span class="material-icons sidebar-icon">help_outline</span>
       <h4 class="icon-description" [class.hide]="!isOpen">Tutorial</h4>
   </div>
   -->
</aside>
